// Input device configuration.
// https://niri-wm.github.io/niri/Configuration:-Input
input {
    keyboard {
        xkb {
            // layout "us,ru"
            // options "grp:win_space_toggle,compose:ralt,ctrl:nocaps"
        }

        numlock
    }

    touchpad {
        tap
        natural-scroll
    }

    mouse {
        // off
        // natural-scroll
    }

    trackpoint {
        // off
    }

    // warp-mouse-to-focus
    // focus-follows-mouse max-scroll-amount="0%"
}
gestures {
    hot-corners {
        off
    }
}