hotkey-overlay {
    skip-at-startup
}

prefer-no-csd

// Animation settings.
// https://niri-wm.github.io/niri/Configuration:-Animations
animations {
    on
    slowdown 1.0
}

overview {
  zoom 0.5
  workspace-shadow {
    on
    softness 60
    spread 25
    color "rgba(0, 0, 0, 1)"
  }
}
