// Startup, hotkey overlay, screenshots, animations.
spawn-at-startup "waybar"
spawn-at-startup "waypaper" "--restore"

spawn-at-startup "wl-paste" "--type" "text" "--watch" "cliphist" "store"
spawn-at-startup "wl-paste" "--type" "image" "--watch" "cliphist" "store"

spawn-at-startup "xwayland-satellite"
