// Per-window behavior overrides.
// https://niri-wm.github.io/niri/Configuration:-Window-Rules

window-rule {
    default-column-width { proportion 0.5; }
    default-window-height { proportion 0.95; }
}

window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

window-rule {
    match is-active=true
    opacity 1.0
}

window-rule {
    match is-active=false
    opacity 0.8
}

layer-rule {
    match namespace="^mpvpaper$"
    place-within-backdrop true
}

window-rule {
    match app-id="codium"
    default-column-width {proportion 0.8;}
}

window-rule {
    match app-id="foot"
    default-column-width {proportion 0.6;}
}

window-rule {
    match app-id=r#"^steam$"# title=r#"^Friends List$"#
    match app-id=r#"^steam$"# title=r#"^Steam - News$"#
    match app-id=r#"^steam$"# title=r#".* - Chat$"#
    open-floating true
}

window-rule {
    match app-id=r#"^steam$"# title=r#"^$"#
    open-floating true
}

window-rule {
    match app-id=r#"^steam$"#
    exclude title=r#"^Steam$"#
    open-floating true
}
